@{
    ViewData["Title"] = "کاربران";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>کاربران</h3>
                <p class="text-subtitle text-muted">خوش آمدید</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h4 class="card-title">فهرست کاربران</h4>
                    <form class="col-sm-10">
                        <div class="mb-3 row">
                            <div class="col-sm-3">
                                <label class="form-label">نام</label>
                                <input name="firstName" type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">ایمیل</label>
                                <input name="email" type="text" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">تلفن</label>
                                <input name="mobileNumber" type="text" class="form-control">
                            </div>
                            <div class="col-sm-1 position-relative">
                                <button type="button" onclick="refresh()" class="btn btn-success position-absolute bottom-0">رفرش</button>
                            </div>
                            <div class="col-sm-2 position-relative">
                                <button type="button" onclick="search()" class="btn btn-primary position-absolute bottom-0">جست و جو</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-2">
                        <label class="form-label">مرتب سازی</label>
                        <select onchange="search()" name="sortOrder" class="form-control">
                            <option value="asc">صعودی</option>
                            <option value="desc">نزولی</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="ag-theme-alpine col-sm-12" id="myGrid" style="height: 40vh;"></div>
                </div>
                <br>
                <div class="row justify-content-between">
                    <div class="col-sm-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="padding-right: 0;">
                                <li id="previous" class="page-item" onclick="onPageClick('previous')">
                                    <button class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </button>
                                </li>

                                <li id="next" class="page-item">
                                    <button class="page-link" aria-label="Next" onclick="onPageClick('next')">
                                        <span aria-hidden="true">&raquo;</span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-1">
                        <select onchange="search()" name="takeEntity" class="form-control">
                            <option value="5">5</option>
                            <option selected value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        var activePage = 1;

        $(document).ready(function() {
            var data = {
                filters: $('form').serializeArray(),
                sortOrder: $('select[name="sortOrder"]').val(),
                takeEntity: $('select[name="takeEntity"]').val()
            };
            fetchDataFromServer(data);
        });

        function refresh() {

            $('form').trigger('reset');
            $('select[name="sortOrder"]').prop('selectedIndex',0);
            $('select[name="takeEntity"]').prop('selectedIndex',1);
            
            var data = {
                filters: $('form').serializeArray(),
                sortOrder: $('select[name="sortOrder"]').val(),
                takeEntity: $('select[name="takeEntity"]').val()
            };
            fetchDataFromServer(data);
        }

        function onPageClick(input) {
            var pageId;
            
            if (input === "next") {
                pageId = activePage + 1;
            }
            else if (input === "previous") {
                pageId = activePage - 1;
            }
            else {
                pageId = input;
            }
            
            var data = {
                filters: $('form').serializeArray(),
                sortOrder: $('select[name="sortOrder"]').val(),
                takeEntity: $('select[name="takeEntity"]').val(),
                pageId: pageId
            };
            fetchDataFromServer(data);
        }

        function search() {
            var data = {
                filters: $('form').serializeArray(),
                sortOrder: $('select[name="sortOrder"]').val(),
                takeEntity: $('select[name="takeEntity"]').val()
            };
            fetchDataFromServer(data);
        }

        // Grid Options
        const columnDefs = [
            {
                headerName: 'ردیف',
                field: "row",
                width: 90,
                checkboxSelection: true
            },
            {
                headerName: 'نام',
                field: "firstName",
                width: 150
            },
            {
                headerName: 'نام خانوادگی',
                field: "lastName",
                width: 250
            },
            {
                headerName: 'شماره تلفن',
                field: "mobileNumber",
                width: "150px"
            },
            {
                headerName: 'ایمیل',
                field: "email",
                width: 150
            }
        ];
        const gridOptions = {
            rowSelection: 'multiple',
            defaultColDef: {
                resizable: true,
                sortable: true,
                filter: true
            },
            columnDefs: columnDefs,
            enableRtl: true
        };
        const eGridDiv = document.getElementById("myGrid");
        new agGrid.Grid(eGridDiv, gridOptions);

        function fetchDataFromServer(data) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: 'https://@Context.Request.Host/Admin/User/GridAjax',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(result) {
                    gridOptions.api.setRowData(result.records);
                    activePage = result.activePage;

                    $('.pages').remove();
                    var pagination = '';
                    for (var i = result.startPage; i <= result.endPage; i++) {
                        if (i === result.activePage) {
                            pagination += '<li class="page-item pages active"><button class="page-link">' + i + '</button></li>';
                        } else {
                            pagination += '<li class="page-item pages"><button class="page-link" onclick="onPageClick(' + i + ')" >' + i + '</button></li>';
                        }
                    }
                    $('#previous').after(pagination);
                }
            });
        }
    </script>
}

