@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.Modules.MemberModule.Dtos.MemberCreateDto


@{
    ViewData["Title"] = "Create";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>اعضا</h3>
                <p class="text-subtitle text-muted">اطلاعات پایه -> اعضا</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="col-sm-12" style="background-color: #1b68ff;">
            <div>
                <h5 class="mr-2 card-title pt-3" style="display: inline-block"><a class="text-white text-decoration-none" asp-controller="Member" asp-action="Index">لیست اعضا</a></h5>
                <h5 style="display: inline-block"><a class="card-title pt-3 text-white text-decoration-none" asp-controller="Member" asp-action="Create">ایجاد عضو جدید</a></h5>
            </div>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form method="post" asp-area="Admin" asp-controller="Member" asp-action="Create" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="FirstName">نام</label>
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="LastName">نام خانوادگی</label>
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="KodMeli">کد ملی</label>
                            <input asp-for="KodMeli" class="form-control" type="number">
                            <span asp-validation-for="KodMeli" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label asp-for="MobileNumber">تلفن همراه</label>
                            <input asp-for="MobileNumber" class="form-control" type="number">
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="DateOfBirth">تاریخ تولد</label>
                            <input asp-for="DateOfBirth" class="form-control">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="RegisterDate">تاریخ ثبت نام</label>
                            <input asp-for="RegisterDate" class="form-control">
                            <span asp-validation-for="RegisterDate" class="text-danger"></span>
                        </div>
                        @*<div class="col-md-8">
                        <label asp-for="Email">ایمیل</label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        </div>*@
                    </div>
                    @*<div class="form-row">
                    <div class="col-md-6 mb-3">
                    <label for="validationCustom33">استان</label>
                    <input type="text" class="form-control" id="validationCustom33" >
                    <div class="invalid-feedback"> Please provide a valid city. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                    <label for="validationSelect2">شهرستان</label>
                    <select class="form-control select2" id="validationSelect2" required>
                    <option value="">Select state</option>
                    <optgroup label="Mountain Time Zone">
                    <option value="AZ">Arizona</option>
                    <option value="CO">Colorado</option>
                    <option value="ID">Idaho</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NM">New Mexico</option>
                    <option value="ND">North Dakota</option>
                    <option value="UT">Utah</option>
                    <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="IL">Illinois</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="OK">Oklahoma</option>
                    <option value="SD">South Dakota</option>
                    <option value="TX">Texas</option>
                    <option value="TN">Tennessee</option>
                    <option value="WI">Wisconsin</option>
                    </optgroup>
                    </select>
                    <div class="invalid-feedback"> Please select a valid state. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                    <label for="custom-zip">کد ملی</label>
                    <input class="form-control input-zip" id="custom-zip" autocomplete="off" maxlength="9"
                    required>
                    <div class="invalid-feedback"> Please provide a valid zip. </div>
                    </div>
                    </div>
                    <div class="form-row mb-3">
                    <div class="col-md-6 mb-3">
                    <label for="date-input1">تاریخ تولد</label>
                    <div class="input-group">
                    <input type="text" class="form-control drgpicker" id="date-input1" value="04/24/2020"
                    aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <div class="input-group-text" id="button-addon-date">
                    <span class="fe fe-calendar fe-16 mx-2"></span>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-3 mx-auto mb-3">
                    <p class="mb-3">متاهل</p>
                    <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" >
                    <label class="custom-control-label" for="customSwitch1">Yes</label>
                    </div>
                    </div>
                    </div>
                    <div class="mb-3">
                    <p class="mb-2">جنسیت</p>
                    <div class="form-row">
                    <div class="col-md-6">
                    <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="customControlValidation22"
                    name="radio-stacked" required>
                    <label class="custom-control-label" for="customControlValidation22">مرد</label>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="customControlValidation33"
                    name="radio-stacked" required>
                    <label class="custom-control-label" for="customControlValidation33">زن</label>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="form-group mb-3">
                    <label for="validationTextarea1">آدرس</label>
                    <textarea class="form-control" id="validationTextarea1" placeholder="Take a note here"
                    required="" rows="3"></textarea>
                    <div class="invalid-feedback"> Please enter a message in the textarea. </div>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation16">
                    <label class="custom-control-label" for="customControlValidation16">
                    Agree to terms and
                    conditions
                    </label>
                    <div class="invalid-feedback"> You must agree before submitting. </div>
                    </div>*@
                    <button class="btn btn-primary mt-2" type="submit">ثبت کاربر جدید</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
            $("#DateOfBirth").persianDatepicker({
                cellWidth: 58,
                cellHeight: 40,
                fontSize: 18,
                formatDate: "YYYY/0M/0D"
            });

            $("#RegisterDate").persianDatepicker({
                cellWidth: 58,
                cellHeight: 40,
                fontSize: 18,
                formatDate: "YYYY/0M/0D"
            });
    });
</script>
}
