@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Shared.Tools
@model Core.Modules.MemberModule.Dtos.MemberUpdateDto


@{
    ViewData["Title"] = "Edit";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>اعضا</h3>
                <p class="text-subtitle text-muted">اطلاعات پایه -> اعضا</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="col-sm-12" style="background-color: #1b68ff;">
            <div>
                <h5 class="mr-2 card-title pt-3" style="display: inline-block"><a class="text-white text-decoration-none" asp-controller="Member" asp-action="Index">لیست اعضا</a></h5>
                <h5 style="display: inline-block"><a class="card-title pt-3 text-white text-decoration-none" asp-controller="Member" asp-action="Create">ایجاد عضو جدید</a></h5>
            </div>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form method="post" asp-area="Admin" asp-controller="Member" asp-action="Edit" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ConcurrencyStamp" />

                        <div class="col-md-4">
                            <label asp-for="FirstName">نام</label>
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="LastName">نام خانوادگی</label>
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="KodMeli">کد ملی</label>
                            <input asp-for="KodMeli" class="form-control" type="number">
                            <span asp-validation-for="KodMeli" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label asp-for="MobileNumber">تلفن همراه</label>
                            <input asp-for="MobileNumber" class="form-control" type="number">
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="DateOfBirth">تاریخ تولد</label>
                            <input asp-for="DateOfBirth" class="form-control">
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="RegisterDate">تاریخ ثبت نام</label>
                            <input asp-for="RegisterDate" class="form-control">
                            <span asp-validation-for="RegisterDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label asp-for="Email">ایمیل</label>
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 pt-1">
                            <p class="mb-2">جنسیت</p>
                            <div class="form-row pt-1">
                                <div class="col-md-6">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" asp-for="Gender" id="man" value="true" required="true">
                                        <label for="man" class="custom-control-label">مرد</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" class="custom-control-input" asp-for="Gender" id="woman" value="false" required="true">
                                        <label for="woman" class="custom-control-label">زن</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label asp-for="ImageFile" class="form-label">تصویر</label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="avatar avatar-xl">
                            <img src="@FilePathHelper.ImagePath(Model.Image)" alt="..." class="avatar-img rounded-circle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Address">آدرس</label>
                            <textarea asp-for="Address" class="form-control" placeholder="Take a note here" rows="3"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">ثبت کاربر جدید</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["Response"] != null && (Response)TempData["Response"] == Response.Failed)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@TempData["AlertMessage"]',
                confirmButtonText: 'تایید',
                timer: 3000
            });
        </script>

        TempData.Remove("Response");
        TempData.Remove("AlertMessage");
    }
    

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DateOfBirth").persianDatepicker({
                cellWidth: 58,
                cellHeight: 40,
                fontSize: 18,
                formatDate: "YYYY/0M/0D"
            });

            $("#RegisterDate").persianDatepicker({
                cellWidth: 58,
                cellHeight: 40,
                fontSize: 18,
                formatDate: "YYYY/0M/0D"
            });
        });
    </script>
}
