@*@model DataLayer.DTOs.Account.ResetPasswordDto

@{
    ViewData["Title"] = "Reset Password";
}

<h1 class="text-center">رمز عبور جدید</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RePassword" class="form-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ActiveCode" />
            <div class="mb-3">
                <input type="submit" value="ثبت رمز عبور جدید" class="btn btn-success @ViewBag.disable" />
            </div>
            @if (ViewBag.message != null)
            {
                <div class="alert alert-warning" role="alert">
                    <h3>رمز عبور شما با موفقیت ثبت شد</h3>
                    <p>جهت ورود به حساب کاربری خود از لینک زیر استفاده کنید</p>
                    <a asp-action="Login">ورود به حساب کاربری</a>
                </div>
            }
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@