@font-face {
    font-family: myfont;
    src: url(../fonts/W_kamran_p30download.com.ttf)
}

* {
    font-family: myfont;
}

/*html {
  font-size: 14px;
}*/

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/